* {
    box-sizing: border-box;
  }

body {
    background-color: #f0eeed;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

/* Designing of logo */
.logo img{
    width: 50%;
    padding-left:20px; 
    padding-top: 10px
}

/* Designing of header: Logo and navigation */
.header {
    background-color: #ffffff;
    padding-top: 10px; 
    padding-bottom: 10px;
}

.rightheader img {
    width: 15%;
    margin-left: 27%;
    margin-bottom: 6%;

}

/* Designing of brødkrummer */
.brodkrummer {
    margin-top: 15px;
    margin-left: 32px;
}

.brodkrummer p{
    color: #000000;
    float: left;
    font-size: 11px;
    margin-right: 8px;
}

.brodkrummer h3{
    color: #000000;
    float: left;
    font-size: 11px;
}


/* Designing of header on the site */
.overskrift{
    margin-top: 20px;
    margin-bottom: 130px;
}

.overskrift1{
    color: #000000;
    float: left;
    margin-left: 22px;
    font-size: 18px;
}

.overskrift h3{
    color: #c52b37;
    float: right;
    margin-right: 22px;
    font-size: 18px;
    font-style: bold

}

/* Designing of progressbar */
.guidebackground {
    background-color: #ffffff;
    margin-left: 35px;
    margin-right: 35px;
    padding-top: 1px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 150px;
    border-radius: 25px;
    margin-bottom: 300px;
    box-shadow: 0px 3px 4px 4px rgba(84, 84, 84, 0.3); /* Inspiration fra W3: https://www.w3schools.com/css/css3_shadows_box.asp */
}

/* Nedenstående er taget med udgangspunkt i W3's eksempel på en carosel: https://www.w3schools.com/bootstrap/tryit.asp?filename=trybs_carousel&stacked=h */

/* Designing of knapperne */

.step {
    height: 28px;
    width: 28px;
    background-color: #c4bbb7;
    border: none;  
    border-radius: 50%;
    display: inline-block;
    opacity: 0.5;
    margin-top: 1px;
    margin-right: 2px;
    margin-bottom: 50px;
  }
  
.step.active {
    opacity: 1;
    background-color: #c52b37;
}
  
/* Mark the steps that are finished and valid: */
.step.finish {
    background-color: #c52b37;
    opacity: 1;
}

.step img {
      width: 100%;
}

/* Designing of linjen igennem */
.item__level__line{
    position: absolute;
    border-left: 2px;
    color:#c52b37;
    left: 12%;
    top: 0;
    height: 100%; 
  }


/* Designing of knapperne: frem og tilbage */
.tab {
    display: none;
}
  
button {
    background-color: #c52b37;
    color: #ffffff;
    border: none;
    padding: 10px 25px;
    border-radius: 2px;
    font-size: 17px;
    font-family: Raleway;
    cursor: pointer;
    margin-right: 22px;
}


input {
    padding: 10px;
    width: 100%;
    font-size: 17px;
    font-family: Raleway;
    border: 1px solid #aaaaaa;
  }
  
  /* Mark input boxes that gets an error on validation: */
  input.invalid {
    background-color: #ffdddd;
  }



/* Egen kode */

/* Slide 1: Get started */

.getstarted h1 {
    font-size: 18px;
    color: #c52b37;
    margin-bottom: 30px;
    margin-top: -20px;
}

.getstarted p {
    font-size: 12px;
}

.text1 {
    margin-bottom: 30px;
}

.image1 img{
    width: 45%;
    margin-top: 30px;
    margin-left: 32%;
    margin-right: 32%;
}


/* Slide 2: About you */

.aboutyou {
    width: 100%;
}

.aboutyou h1 {
    font-size: 18px;
    color: #c52b37;
    margin-bottom: 10px;
    margin-top: -20px;
}

.aboutyou p {
    font-size: 12px;
    margin-bottom: 50px;
}

.aboutyou h2 {
    font-size: 14px;
    color: #000000;
    margin-bottom: 10px;
}

.text1 {
    margin-bottom: 30px;
}







