

body {
    background-color: #f0eeed;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

/* Designing of logo */
.logo img{
    width: 40%;
    padding-left:20px; 
    padding-top: 10px
}

/* Designing of header: Logo and navigation */
.header {
    background-color: #ffffff;
    padding-top: 10px; 
    padding-bottom: 10px;
}

.rightheader img {
    width: 10%;
    margin-left: 36%;
    margin-bottom: 6%;
}

/* Designing of brødkrummer */
.brodkrummer {
    margin-top: 15px;
    margin-left: 35px;
}

.brodkrummer p{
    color: #000000;
    float: left;
    font-size: 12px;
    margin-right: 10px;
}

.brodkrummer h3{
    color: #000000;
    float: left;
    font-size: 12px;
}


/* Designing of header */
.overskrift{
    margin-top: 20px;
    margin-bottom: 150px;
}

.overskrift1{
    color: #000000;
    float: left;
    margin-left: 25px;
    font-size: 24px;
}

.overskrift h3{
    color: #c52b37;
    float: right;
    margin-right: 25px;
    font-size: 24px;
    font-style: bold

}

/* Designing of progressbar */
.guidebackground {
    background-color: #ffffff;
    margin-left: 50px;
    margin-right: 50px;
    padding-bottom: 500px;
    border-radius: 25px;
    margin-bottom: 300px;
    box-shadow: 0px 3px 4px 4px rgb(84, 84, 84); /* Inspiration fra W3: https://www.w3schools.com/css/css3_shadows_box.asp */
}

/* Nedenstående er taget med udgangspunkt i W3's eksempel på en carosel: https://www.w3schools.com/bootstrap/tryit.asp?filename=trybs_carousel&stacked=h */

/* Designing of knapperne */






/* Designing of linjen igennem */
.line {
    stroke:rgb(255,0,0);
    stroke-width:4;
    position: absolute;
}


/* Slide 1: Get started */

.getstarted {
    margin-left: 20px;
}

.getstarted h1 {
    font-size: 20px;
}








.prog0ressbar {
    display: grid; 
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 2fr;
    margin: 20px;
    margin-top: 40px;
    overflow: hidden;
    color: #c4bbb7;
    text-align: center;
}

.prog0ressbar .active {
    color: #c52b37;
}

.prog0ressbar li {
    list-style-type: none;
    font-size: 20px;
    width: 100%;
    float: left;
    position: relative;
}

.prog0ressbar li:before {
    width: 50px;
    height: 50px;
    line-height: 45px;
    display: block;
    font-size: 18px;
    color: #ffffff;
    background: lightgray;
    border-radius: 50%;
    margin: 0 auto 10px auto;
    padding: 2px;
}

.prog0ressbar li:after {
    content: '';
    width: 100%;
    height: 2px;
    background: lightgray;
    position: absolute;
    left: 0;
    top: 25px;
    z-index: -1;
}

    








